.footer {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 80px 100px 30px 100px;
  font-size: .9rem;
  font-weight: 600;
}

.footer h3 ~ ul {
  margin-top: 12px;
}

.footer ul {
  list-style: none;
}

.footer li a {
  color: var(--drak-blue-60);
  text-decoration: none;
  font-weight: 500;
}

.footer h3 {
  font-size: .9rem;
  font-weight: 600;
}

.upper {
  display: flex;
  justify-content: space-between;
}

.upper .contacts {
  display: flex;
  gap: 7vw;
}

.upper .contacts .left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upper .contacts .left a {
  text-wrap: nowrap;
  font-size: 1.2rem;
  color: var(--white);
  text-decoration: none;
}

.upper .contacts .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upper .contacts .right .links {
  display: flex;
  gap: 12px;
}

.upper .payments {
  background-color: var(--light-gray);
  color: var(--dark-blue);
  border-radius: 10px;
  padding: 14px 34px;
  height: fit-content;
}

.upper .payments h3 {
  font-weight: 800;
  margin-bottom: 20px;
}

.upper .payments .payment-methods {
  display: flex;
  gap: .65vw;
  margin-bottom: 5px;
}

.products {
  margin-top: 60px;
}

.products ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 12rem;
  width: calc(100vw - 200px);
}

.products ul li {
  width: 20%;
}

.info {
  margin-top: 60px;
  display: flex;
  width: calc(100vw - 200px);
}

.info ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info .about {
  width: 20%;
}

.info .help {
  width: 40%;
}

.info .help ul {
  height: 5rem;
}

.info .help ul li {
  width: 50%;
}

.remark {
  margin-top: 111px;
  font-size: 12px;
  font-weight: 100;
}

.llc {
  margin-top: 50px;
  color: var(--drak-blue-60);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 13.5vw;
}

.llc ul {
  display: flex;
  gap: 3.5vw;
}

.llc ul li a {
  font-size: 12px;
}

@media (max-width: 1280px) {
  .footer {
    padding: 6vh 2vw;
  }

  .footer ul {
    font-size: 12px;
  }

  .upper .contacts {
    gap: 3vw;
  }

  .upper .payments {
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .upper .payments h3 {
    font-size: .8rem;
  }

  .upper .payments .payment-methods {
    gap: 0;
    justify-content: space-between;
  }

  .upper .payments img {
    height: 12px;
  }

  .products ul {
    width: calc(96vw - 35px);
    height: 13rem;
  }

  .products ul li {
    width: 25%;
  }

  .info {
    width: calc(96vw - 35px);
  }

  .info .about {
    width: 25%;
  }

  .info .help {
    width: 50%;
  }

  .info .help ul {
    height: 4rem;
  }

  .remark {
    font-size: 10px;
  }

  .llc {
    font-size: 10px;
    gap: 2vw;
    justify-content: space-between;
  }

  .llc ul li a {
    font-size: 10px;
  }


}

@media (max-width: 640px) {
  .footer {
    padding: 40px 30px;
  }

  .upper .payments {
    width: fit-content;
  }

  .upper .payments img {
    height: 12px;
    margin-right: 2px;
  }

  .upper .payments img:last-child {
    margin-right: 0;
  }

  .products ul {
    width: calc(96vw - 35px);
    height: 20rem;
  }

  .products ul li {
    width: 33.333%;
  }

  .info {
    width: calc(96vw - 35px);
  }

  .info .about {
    width: 33.333%;
  }

  .info .help {
    width: 66.666%;
  }

  .info .help ul {
    height: 4rem;
  }

  .remark {
    font-size: 8px;
  }

  .llc {
    font-size: 8px;
  }

  .llc ul li a {
    font-size: 8px;
  }
}

@media (max-width: 540px) {
  .footer h3 {
    font-size: 12px;
  }

  .footer ul li a {
    font-size: 8px;
    text-wrap: nowrap;
  }

  .footer ul li {
    margin-bottom: -3px;
  }

  .upper .contacts {
    flex-direction: column;
  }

  .upper .contacts .left{
    font-size: 10px;
  }

  .upper .contacts .left a {
    font-size: 12px;
  }

  .upper .payments h3 {
    font-size: .6rem;
  }

  .upper .payments img {
    height: .5rem;
  }

  .info .help ul {
    height: 3rem;
  }

  .remark {
    margin-top: 60px;
  }

  .llc {
    align-items: flex-end;
  }

  .llc ul {
    flex-direction: column;
    align-items: flex-end;
  }

  .llc ul :nth-child(1) {
    order: 1;
  }
  .llc ul :nth-child(2) {
    order: 3;
  }
  .llc ul :nth-child(3) {
    order: 5;
  }
  .llc ul :nth-child(4) {
    order: 4;
  }
  .llc ul :nth-child(5) {
    order: 2;
  }
}

@media (max-width: 320px) {
  .footer h3 {
    font-size: 10px;
  }
  
  .footer ul li a {
    font-size: 7px;
  }

  .upper .contacts .hours {
    font-size: 8px;
    font-weight: 400;
  }

  .upper .contacts .left a {
    font-size: 10px;
    font-weight: 700;
  }

  .upper .payments {
    width: fit-content;
  }

  .upper .payments h3 {
    font-size: 8px;
    margin-bottom: 10px;
  }

  .upper .payments img {
    height: 9px;
    margin-right: 2px;
  }

  .upper .payments img:last-child {
    margin-right: 0;
  }

  .products ul {
    height: 13rem;
  }

  .products ul li {
    width: 35%;
  }

  .remark {
    margin-top: 20px;
  }

}
