body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #1E4497;
  --light-blue: #6E87BD;
  --drak-blue-60: #A5B4D5;
  --vk: #2787F5;
  --black: #000;
  --white: #fff;
  --light-gray: #E6EAF4;
  --menu-bg: #F1F1F1;
}