.slider {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slider .images {
  display: flex;
  width: calc(300% + 400px);
  margin-bottom: 20px;
  transition: all .5s;
}

.slider .images.second {
  translate: -100vw;
}

.slider .images.third {
  translate: -200vw;
}

.slider .images img {
  margin-right: 200px;
  width: 33.33333%;
  max-width: calc(100vw - 200px);
}

.slider .images img:last-child {
  margin-right: 0;
}

.slider .buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.slider .buttons .button {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: var(--dark-blue);
  cursor: pointer;
  transition: all .5s;
}

.slider .buttons .button.active {
  width: 36px;
}

@media (max-width: 1280px) {
  .slider {
    padding: 60px 30px;
  }

  .slider .images {
    width: calc(300% + 120px);
  }

  .slider .images img {
    margin-right: 60px;
    max-width: calc(100vw - 60px);
  }

  .slider .images img:last-child {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .slider {
    padding: 30px 30px;
  }

  .slider .buttons .button {
    width: 5px;
    height: 5px;
  }

  .slider .buttons .button.active {
    width: 18px;
  }
}

@media (max-width: 320px) {
  .slider {
    padding: 20px 30px;
  }
}